[Unit]
Description=xdg-desktop-portal backend for wlroots 
Documentation=man:xdg-desktop-portal-wlr(5)
After=pipewire
Before=xdg-desktop-portal

[Service]
Type=simple
ExecStart=/usr/libexec/xdg-desktop-portal-wlr
Restart=always
