.music {
    padding-left: 1em;
    padding-right: 1em;
    &_title {
        background-color: $surface_high;
        padding: 0 .625em;
        transition: .3s;
        &:hover {
            background-color: $primary;
            color: $primary_text;
        }
    }
    &_control {
        margin: 0 .25em;
        padding: 0 .55em;
        transition: .3s;
        background-color: $surface_high;
        &:hover {
            background-color: $primary;
            color: $primary_text;
        }
    }
}

