.tray {
    &_button {
        margin: 0 .1em;
        padding: 0 .55em;
        transition: .3s;
        background-color: $surface_high;
        &:hover {
            color: $primary_text;
            background-color: $primary
        }
        &.muted {
            color: $error;
        }
    }
    &_value {
        margin: 0 .1em;
        padding: 0 .55rem;
        transition: .3s;
        background-color: $surface_high;
        &:hover {
            background-color: $primary;
            color: $primary_text;
        }
    }
    &_spacer {
        margin: 0 .1em;
    }
}
